.wrapper {
  background-color: #f3d9ce;
  height: 100vh;
  border-radius: 2em;
  overflow: auto;
}

h3, li {
  text-align: left !important;
}

h1, h3 {
  color: #00aeef;
}

.header {
  border-bottom: 1px solid black;
}